* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: 'KDA font';
    src: url('../fonts/KDA.ttf');
}

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZVaUuH99GUDg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

p {
    color: #410759;
}

body {
    background-image: url("../images/Horizons.jpeg");
    font-family: 'indie flower';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}










/* HEADER */
header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: left;
    background-color: rgba(182, 3, 252, 0.85);
    width: 100%;
    padding-top: 1rem;
    padding-left: 3%;
    padding-right: 3%;
    position: fixed;
    z-index: 100;
    overflow: scroll;
}

header .title {
    display: inline-block;
    max-width: 40%;
    font-family: 'KDA font';
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 1.3em;
    color: rgba(224, 190, 232, 1);
    flex-shrink: 2;
}

header ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    align-content: center;
}

header li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    border-radius: 7px;
    margin: 10px 1rem;
    font-size: 2vmax;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: hsla(282, 86%, 23%, 0.8);
}

header li:not(.title):hover {
    background-color: rgba(90, 13, 120, 0.3);
}

header a {
    text-decoration: none;
}

header a strong:hover {
    color: red;
}

header a:visited {
    text-decoration: none;
}

/* @media only screen and (max-width: 768px) {

    header ul {
        display: flex;
        justify-content: space-around;
        right: 0;
        left: 0;
    }

    header li {
        font-size: large;
    }
} */









/* AKALI SECTION */
#AkaliSection {
    position: relative;
    top: 125px;
    background-color: #1c1a25;
    background-image: none;
    margin-bottom: 50px;
    text-align: center;
    border: 3px solid rgba(182, 3, 252, 0.75);
}

#AkaliSection h1 {
    font-family: 'KDA font';
    color: #e0bee8;
    background-color: #1c1a25;
    background-image: none;
    padding-top: 15px;
}

#AkaliImage {
    max-width: 100%;
    max-height: 400px;
}

.question {
    display: block;
    position: relative;
    margin: 50px auto 10px auto;
    font-family: 'Indie Flower';
    text-align: center;
    font-size: 50px;
    color: #7b2d9c;
}










/* IMG OPTIONS */
.img-options {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.img-option {
    position: relative;
    padding: 0;
    border: none;
    margin: 15px 6px;
    display: inline-block;
    min-width: 250px;
    max-width: 450px;
    height: auto;
}

.img-option:hover .img-option-overlay {
    opacity: 0.5;
}

.img-option:hover span {
    opacity: 0.95;
}

.img-option img {
    vertical-align: top;
    width: 100%;
}

.img-option-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1c0238;
    opacity: 0;
    transition: .5s ease;
}

.img-option span {
    position: absolute;
    left: 0;
    right: 0;
    margin: 25% auto;
    text-align: center;
    font-family: 'KDA font';
    font-size: 40px;
    color: red;
    opacity: 0;
    transition: .5s ease;
}

.img-option #Seraphine {
    font-size: 35px;
}











/* FOOTER */
footer {
    background-color: rgba(224, 190, 232, 0.85);
    display: block;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

footer span {
    display: inline-block;
    font-family: monospace;
    padding: 0px 20px;
}

footer span#title {
    font-size: 25px;
}